md-card
	md-card-content(layout="row")
		md-icon search
		md-autocomplete(
		flex
		md-selected-item="ctrl.selectedSubservicio" 
		md-search-text-change="ctrl.BuscarSubservicioChange(ctrl.searchTextSubservicio)" 
		md-search-text="ctrl.searchTextSubservicio" 
		md-selected-item-change="ctrl.SubservicioSeleccionadoChange(item)" 
		md-items="item in ctrl.subservicios.items" 
		md-item-text="item.nombre" 
		md-min-length="0" 
		placeholder="Nombre del Subservicio" 
		md-menu-class="autocomplete-custom-template")
			md-item-template
				span {{item.nombre}}
		md-button.md-raised(md-colors="{background: 'green'}" ng-click="ctrl.subservicios.nuevo()")
			md-icon add
	md-divider
	md-list
		md-list-item(ng-repeat="subservicio in ctrl.subservicios.items | filter : ctrl.searchTextSubservicio")
			.md-list-item-text
				strong {{subservicio.nombre}}
			md-fab-toolbar(md-open="false" count="0"  md-direction="left" flex)
				md-fab-trigger
					md-button
						md-icon more_vert
				md-toolbar
					md-fab-actions(layout="row")
						md-button(md-colors="{background: 'green'}" ui-sref="subservicio({id:subservicio.id})")
							md-icon edit
						md-button(md-colors="{background: 'red'}" ng-click="subservicio.eliminar($index)")
							md-icon delete
			md-divider
	h3(style="text-align: center") Pagina: {{ctrl.subservicios.pagina}}
	.paginacion(layout="row")
		md-button(ng-click="ctrl.subservicios.anterior()" ng-if="ctrl.subservicios.pagina !==1" flex)
			md-icon navigate_before
		md-button(ng-click="ctrl.subservicios.siguiente()" ng-if="ctrl.subservicios.pagina === ctrl.subservicios.pagina" flex)
			md-icon navigate_next