md-card
	md-card-content(layout="row")
		md-icon search
		md-autocomplete(
		flex
		md-selected-item="ctrl.selectedTrabajador" 
		md-search-text-change="ctrl.BuscarTrabajadorChange(ctrl.searchTextTrabajador)" 
		md-search-text="ctrl.searchTextTrabajador" 
		md-selected-item-change="ctrl.TrabajadorSeleccionadoChange(item)" 
		md-items="item in ctrl.trabajadores.items" 
		md-item-text="item.nombre" 
		md-min-length="0" 
		placeholder="Nombre del Trabajador" 
		md-menu-class="autocomplete-custom-template")
			md-item-template
				span {{item.nombre}}
		md-button.md-raised(md-colors="{background: 'green'}" ng-click="ctrl.trabajadores.nuevo()")
			md-icon add
	md-divider
	md-list
		md-list-item(ng-repeat="trabajador in ctrl.trabajadores.items | filter : ctrl.searchTextTrabajador")
			.md-list-item-text
				strong {{trabajador.nombre}}
			md-fab-toolbar(md-open="false" count="0"  md-direction="left" flex)
				md-fab-trigger
					md-button
						md-icon more_vert
				md-toolbar
					md-fab-actions(layout="row")
						md-button(style="min-width: inherit; min-height: inherit; width: 60px; height: 35px; margin-top: 15px;" md-colors="{background: 'green'}" ui-sref="trabajador({id:trabajador.id})")
							md-icon edit
						md-button(style="min-width: inherit; min-height: inherit; width: 60px; height: 35px; margin-top: 15px;" md-colors="{background: 'red'}" ng-click="trabajador.eliminar($index)")
							md-icon delete
			md-divider
	h3(style="text-align: center") Pagina: {{ctrl.trabajadores.pagina}}
	.paginacion(layout="row")
		md-button(ng-click="ctrl.trabajadores.anterior()" ng-if="ctrl.trabajadores.pagina !==1" flex)
			md-icon navigate_before
		md-button(ng-click="ctrl.trabajadores.siguiente()" ng-if="ctrl.trabajadores.pagina === ctrl.trabajadores.pagina" flex)
			md-icon navigate_next